/* Modified from alamode (https://github.com/mode/alamode/blob/master/alamode.css) */

/* General Styling */

.mode-graphic-container {
    border: 1px solid #f1f2f5;
    background: #fff;
}

.mode-graphic-title {
    font-size: 18px;
    line-height: 46px;
    height: 46px;
    padding-left: 16px;
    font-weight: 400;
    color: #393945;
}

/* Sunburst Styling */

.mode-sunburst {
    text-align: center;
}

.mode-sunburst-sequence {
    margin-top: 10px;
    text-align: center;
}

.mode-sunburst path {
    stroke: #fff;
}

.mode-sunburst-total-interactions-count {
    display: block;
    margin: 20px auto;
    text-align: center;
    max-width: 600px;
    font-size: 1.5em;
    font-weight: 500;
}

.mode-sunburst-legend-container {
    display: block;
    margin: 20px auto;
    max-width: 800px;
}

.mode-sunburst-legend-container text,
.mode-sunburst-sequence text,
.mode-sunburst-total-interactions-count text {
    fill: #393945;
}

.mode-sunburst-legend {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 25%;
    padding: 5px;
}

.mode-sunburst-explanation {
    margin: 0 auto;
    fill: #666;
    padding: 10px;
}

.mode-sunburst-percentage {
    font-size: 2.5em;
    color: #666;
}

.mode-sunburst-cond-percentage {
    font-size: 1.8em;
    color: #666;
}
